/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #f8f9f6;
    color: #2e2e2e;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(248,249,246,0.95);
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: #556b2f;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    font-weight: 500;
    color: #2e2e2e;
}

/* BUTTON */
.btn {
    background: #556b2f;
    color: #fff;
    padding: 0.7rem 1.8rem;
    border-radius: 30px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url('https://images.pexels.com/photos/4503266/pexels-photo-4503266.jpeg') center/cover;
    di
